@{
    Layout = "~/_Layout.cshtml";
}
<div class="text">
    <br>A new guitar shop to sell you all of your guitar needs.
    Based in Galway city and committed to supply the best quality instruments and equipment at the best value.
    Galway is known as Ireland's Cultural Heart and is renowned for its vibrant lifestyle and numerous festivals.<br><br>
</div>
<p><img src="pics/artsFest.jpg" width="500"></p>