@{
    Layout = "~/_Layout.cshtml";
}
<h1>Useful Links</h1>
<div class="link">
    <img src="pics/thomann.ico"><a href=http://www.thomann.de/ie/index.html target="_blank">Thomann </a> <br>
    <img src="pics/fender.ico"><a href=http://www.fender.com target="_blank">Fender</a> <br>
    <img src="pics/epiphone.ico"><a href=http://www.epiphone.com target="_blank">Epiphone</a> <br>
    <img src="pics/gibson.ico"><a href=http://www2.gibson.com/default.aspx target="_blank">Gibson</a><br>
    <img src="pics/marshall.ico"><a href=http://www.marshallamps.com/ target="_blank">Marshall</a> <br>
</div>