body
{
background-color:#faebd7;
font-family: sans-serif;
}
img
{
padding:20px;
}
a
{
color:purple;
}
dl
{
font-weight:bold;
}
dd
{
font-weight:lighter;
}
table
{
border:thick solid;
width:90%;
text-align:center;
background-color:white;
margin-left:auto;
margin-right:auto;
}
td{
border:medium solid;
}
.text
{
width:500px;
margin-left:auto;
margin-right:auto;
}
.head
{
width: 80%;
height: 150px;
display: block;
background-color:grey;
margin-left:auto;
margin-right:auto;
}
.head h1
{
color:black;
width: 95%;
transform:translateY(6.5px);
}
#clock
{
color:white;
text-align:right;
float:right;
transform:translateY(9.5px);
font-weight:normal;
font-size:medium
}
.nav
{
width: 80%;
margin-left: auto;
margin-right:auto;
}
.nav ul{
margin-left:auto;
margin-right:auto;
width: 500px;
}
.nav a 
{
color: #5a5a5a;
font-size: 11px;
font-weight: bold;
padding: 14px 10px;
text-transform: uppercase;
border-style:solid;
background-color:white;

}
.nav a:hover
{
background-color:#d3d3d3;
color:white;
}
.nav li
{
list-style-type: none;
display: inline;
}
.main
{
width: 80%;
margin-left:auto;
margin-right:auto;
text-align:center;
background-color:#d3d3d3;
padding-bottom: 20px;
}
.contact
{
width:500px;
margin-left:auto;
margin-right:auto;
text-align:left;
height:140px;
}
.contact img
{
float:left;
height:100px;
}
.contact dl
{
width:70%;
padding-left:100px;
}
.special p
{
font-weight:bold;
}
.special img
{
height:200px;
}
.link img
{
padding:0;
}
.foot
{
width: 80%;
height: 30px;
margin-left:auto;
margin-right:auto;
background-color:white;
}
p2{
text-decoration:line-through;
}
